<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About Us/Contact</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <h2>Medicine Finder</h2>
    </ion-card-header>
    <ion-card-content>
      <p align=center>
        Medicine Finder app 
      </p>
      <p>
        For further details and queries you can contact us on 
      </p>
      <p>
        <b>Email:MediFinder@gmail.com</b>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
