<ion-header>
<ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align:left"><img src="assets/image/About-us.PNG"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-header>
        <ion-card-title><ion-avatar>
            <img src="../../assets/image/logo.png">
          </ion-avatar>Medicine Finder</ion-card-title>
        <ion-card-subtitle>About Us</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Medicine Finder app is developed by cortex, a team powered by a team of passionate geeks techies with background in development. 
      </p>
      <br>
      <p>Our main motive of medicine finder app is to provide information about the rare medicine which are not easily available to achieving this goal we are constantly in contact to medical stores so better information would have provided. We provide BI to medical stores to manage their medicine. </p>
      <br>
      <p>Our future goal is to provide a proper guide about all diseases and their cure and symptoms.</p>
      <p>   For further details and queries you can contact us on  </p><br>
      <p>
        <!-- <b align=center>Email:MediFinder@gmail.com <br> Contact No: 03042629488</b> -->
      </p>
      <ion-toolbar>
        <ion-buttons slot="end">
          <ion-button>
            <ion-icon color="primary" name="logo-facebook"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon color="primary" name="logo-googleplus"></ion-icon>
          </ion-button>
          <ion-button>
            <ion-icon color="primary" name="logo-linkedin"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-card-content>
  </ion-card>

</ion-content>
