<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
<ion-menu-button> </ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="edit()" *ngIf="showMode">
        Edit
      </ion-button>
      <ion-button  (click)="saveMedicalStore()" *ngIf="editMode">
          Save
        </ion-button>
    </ion-buttons>
    <ion-title *ngIf="loggedIn">Store Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Medical Store </ion-list-header> 
      <!-- <ion-input hidden type="text" [readonly]="showMode" [(ngModel)]="medicalStore._id" name="_id"> </ion-input> -->
    <ion-item>
      <ion-label position="floating">Medical Store</ion-label>
      <ion-input type="text" [readonly]="showMode" [(ngModel)]="medicalStore.name"  > </ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating"> Phone Number</ion-label>
        <ion-input  type="text" [readonly]="showMode" [(ngModel)]="medicalStore.phoneNumber"  > </ion-input>
    </ion-item>
    <ion-item>
          <ion-label position="floating">Cell Number</ion-label>
          <ion-input  type="text" [readonly]="showMode" [(ngModel)]="medicalStore.cellNumber"  > </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input type="text" [readonly]="showMode" [(ngModel)]="medicalStore.address"  > </ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Open Time</ion-label>
        <ion-input type="time" [readonly]="showMode" [(ngModel)]="medicalStore.openTime"  > </ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Close Time </ion-label>
          <ion-input type="time" [readonly]="showMode" [(ngModel)]="medicalStore.closedTime"  > </ion-input>
        </ion-item>

  </ion-list>

</ion-content>
