<ion-header>
  <ion-toolbar>
    <ion-buttons slot='start'>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Medicine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-searchbar [(ngModel)]="searchTerm" (ionChange)="search(searchTerm)" placeholder="Search Medicine"></ion-searchbar>
    
  <ion-list inset=true>
    <ion-item *ngFor="let medicine of medicines">
      <!-- <ion-thumbnail slot="start">
        <img src={{store.image}}>
      </ion-thumbnail> -->
      <ion-text>{{medicine.name}}</ion-text>
      <!-- <p slot="end"> {{medicine.type | slice:0:20}}</p> -->
      <!-- <span *ngIf="store.type.length >20 ">...</span> -->
      <!-- <ion-button slot="end" clear color="primary"item-end (click)="openMedicine(store.id)" >View</ion-button> -->
    </ion-item>
  </ion-list>
</ion-content>
