.login-logo {
    // padding: 20px 0;
    min-height: 20px;
    text-align: center;
  }
  
  .login-logo img {
    max-width: 200px;
  }

  .welcome {
    text-align: center;
  }
  
  // .list {
  //   margin-bottom: 0;
  // }
  