<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="save(medicineForm)" *ngIf="editMode || newMode">
        Save
      </ion-button>
      <ion-button (click)="edit()" *ngIf="showMode">
          Edit
        </ion-button>
    </ion-buttons>
    <ion-title>Edit Medicine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #medicineForm="ngForm"> 
    <ion-list>
        <ion-list-header>
          Medicine Information
        </ion-list-header>
        <ion-item>
            <ion-label position="floating">Medicine  Name</ion-label>
            <ion-input type="text" [readonly]="showMode" name="name" [(ngModel)]="medicine.name"> </ion-input>
          </ion-item>
          <ion-item>
              <ion-label position="floating">Company  Name</ion-label>
              <ion-input type="text" [readonly]="showMode" name="company" [(ngModel)]="medicine.company"> </ion-input>
            </ion-item>
      </ion-list>
  </form>
  <!-- <ion-button  (click)="getPermission()">Get Permission</ion-button> -->
  <ion-button  (click)="startListening()">Start Listening</ion-button>
  <!-- <ion-button  (click)="StopListening()">Stop Listening</ion-button> -->
<p *ngFor="let word of words">
  {{word}}
</p>
</ion-content>
