<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
        <ion-button (click)="calculateAndDisplayRoute()">Find</ion-button>
    </ion-buttons>
    <ion-title>location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <div>
        <ion-list *ngIf="findPosition">
            <ion-item style="background-color: #ecf0f1;" >
                <ion-label floating>   <ion-icon name="locate"></ion-icon>Your Current Location</ion-label>
                <ion-input type="text" [(ngModel)]="start"></ion-input>
            </ion-item>
            <ion-item style="background-color: #ecf0f1;">
                    <ion-label floating>End</ion-label>
                    <ion-input type="text" [(ngModel)]="end"></ion-input>
                </ion-item>
                <ion-button expand="full" shape="round" color="primary" (click)="calculateAndDisplayRoute()">Get Direction</ion-button>
        </ion-list> 
       <!-- <p> {{start}} {{end}}</p>
      <p>{{lat}}{{long}}</p> -->
</div>
  <div #map id="map">   
  </div>
</ion-content>
