<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-button *ngIf="loggedIn" (click)="logOut()">
              Logout
            </ion-button>

          </ion-buttons>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
       
        <!-- <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list> -->
        <ion-list>
          <ion-list-header>Navigate</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/home">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>
                Home
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
              <ion-item routerLink="/login">
                <ion-icon slot="start" name="log-in"></ion-icon>
                <ion-label>
                  Login
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false">
                <ion-item routerLink="/signup">
                  <ion-icon slot="start" name="person"></ion-icon>
                  <ion-label>
                    SignUp
                  </ion-label>
                </ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle>
              <ion-item routerLink="/about-us">
                <ion-icon slot="start" name="person"></ion-icon>
                <ion-label>
                  About Us
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
        </ion-list>
        
        <ion-list *ngIf="loggedIn && (userRole==2)">
          <ion-list-header>Medical Store</ion-list-header>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/medical-store">
              <ion-icon slot="start" name="medical"></ion-icon>
              <ion-label>
                Medical Store
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false">
            <ion-item routerLink="/medical-med-add">
              <ion-icon slot="start" name="medkit"></ion-icon>
              <ion-label>
                Add Medicine
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        
        </ion-list>










      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
