<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="addMedicine()">
        Add
      </ion-button>
    </ion-buttons>
    <ion-title>medicine List</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar  [(ngModel)]="searchTerm" (ionChange)="searchMedicine()" ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Medicine list</ion-list-header>
    <ion-item *ngFor="let medicine of medicines" (click)="updateMedicine(medicine)">
      <ion-label>{{medicine.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>