<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title><img src="assets/image/Sign-up.PNG"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-logo">
    <img src="assets/image/Login-Logo.PNG">
</div>
      <ion-card>
        <ion-card-content>
            <form  #signupForm="ngForm" (ngSubmit)="SignupUser(signupForm)">
                <ion-list>
              <ion-item>
                  <ion-label position="stacked">Email</ion-label>
                  <ion-input name="email" type="email" [(ngModel)]="email"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked">Password</ion-label>
                    <ion-input name="password" type="password" [(ngModel)]="password"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Medical Store</ion-label>
                  <ion-checkbox name="medical" (ionChange)="roleSelected()" [(ngModel)]="role2"></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-label>Normal User</ion-label>
                    <ion-checkbox name="normal" (ionChange)="roleSelected()" [(ngModel)]="role3"></ion-checkbox>
                  </ion-item>
          </ion-list>
                  <ion-button  [disabled]="!email || !password && (!role2 || !role3)" type="submit"  expand="full">Create</ion-button>
          
        </form>
        </ion-card-content>
      </ion-card>
   
</ion-content>
