<ion-header>
  <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>    
    <ion-title><img src="assets/image/ViewMedical.PNG"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #ecf0f1;">
    <ion-row>
        <ion-col col-12>
            <ion-card>
                <img   width="50"  src="../../assets/image/pharmacy.png"/>
                <ion-card-header  center>
               <ion-icon ios="ios-medical" md="md-medical"></ion-icon> {{medicalStore.name}} 
                </ion-card-header>
                <ion-card-content>
                    <h2><b> <ion-icon ios="ios-call" md="md-call"> Phone: </ion-icon> </b>  {{medicalStore.phoneNumber}}</h2>
                      <br>
                    <h2><b> <ion-icon ios="ios-home" md="md-home"> Address: </ion-icon> </b> {{medicalStore.address}}</h2>
                  <!-- Add card content here! -->
                </ion-card-content>
              </ion-card>
            <!-- <ion-button expand="full" shape="round"   color="primary"   (click)="viewMedicines(id)">   <ion-icon ios="ios-locate" md="md-locate"></ion-icon> View Medicines </ion-button> -->
            <ion-button expand="full" shape="round"   color="primary"   (click)="location(medicalStore.medicalStoreId)">   <ion-icon ios="ios-locate" md="md-locate"></ion-icon> Find  Location </ion-button>
            <p>Note:We Suggest You to call first .</p>
            <!-- <button ion-button  full round >   <ion-icon ios="ios-home" lg="lg-home"></ion-icon>  </button> -->
        </ion-col>
      </ion-row>
</ion-content>
